.Item {
  float: left;
  clear: both;
  margin-left:10px;
  margin-bottom:15px;
  width: 100%;
}

.Item-title {
  font-size:18px;
  color: #558efc;
}

.Item-tools {
  color: #bcc2ca;
  font-size:15px;
}

.Item-desc {
  color: #bcc2ca;
  font-size:14px;
  float: left;
  text-align: left;
  line-height: 1.6;
}

.Item-div {
  text-align: left;
}

.Item-image {
  padding-top: 2px;
  width:36px;
  height: 36px;
  margin-right: 20px;
  float: left;
}