a {
  font-size: 15px;
}

.Menu {
  display: inline;
}

.Menu-item {
  margin-right: 5px;
}

a:link.Menu-item, a:active.Menu-item, a:visited.Menu-item {
  color: #abb2be;
  padding: 5px;
  text-decoration: none;
}

a:hover.Menu-item {
  color: #abb2be;
  text-decoration: none;
  border-style: solid;
  border-color: #abb2be;
}

a.Menu-item {
  border-style: solid;
  padding: 5px;
  color: #abb2be;
  border-color: #282c34;
}

a.Menu-item.active {
  border-style: solid;
  padding: 5px;
  border-color: #abb2be;
}